
<form (ngSubmit)="onSubmit()" class="mat-elevation-z8">

  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput type="text" name="username" [(ngModel)]="username" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" name="password" [(ngModel)]="password" required>
  </mat-form-field>

  <p class="error">{{errorMessage}}</p>

  <button mat-raised-button color="primary">Login</button>

</form>
